src/main/mule/product-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="eadc7a87-c4bd-4bca-972e-14b8f103ba70" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="product-apiFlow" doc:id="67ac6d2d-604b-4ab5-bcf4-3749a1273adf" >
		<http:listener doc:name="Listener" doc:id="42bc9516-8e37-41db-9e8c-f323d928e6bb" config-ref="HTTP_Listener_config" path="/restq"/>
		<logger level="INFO" doc:name="Logger" doc:id="1aa394ec-43dd-42da-842f-9a618f54199d" message='#["flow started"]'/>
		<ee:transform doc:name="Transform Message" doc:id="469a9089-5538-439c-8fa4-5678551502da" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"product sent"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
